#slideout {
    position:fixed;
    width: 400px;
    height: 800px;
    top: 30px;
    right: -300px;
    /*Animation*/
    transition-property: all;
    transition-duration: 5s;
    transition-timing-function: cubic-bazier(0,1,0.5,1);
}

/* Display Pull out*/

.showSlideOut {
    right: 0px !important;
}


/*Tab design*/

.slideOutTab {
    margin-top: 50px;
    position: abosulute;
    left: -40px;
    height: 200px;
    width: 40px;
    background: #F2AB34;
    border-radius: 15px 0px 0px 15px;
}

.slideOutTab div {
    text-align: center;
    position: relative;
    right: 70px;
    top: 90px;
    background: #F2AB34;
    width: 180px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    writing-mode: lr-tb;
  }
}

h1 {font-size:70px;margin-top:-90px}

section:nth-child(2) {
  background: #7876A0;
}

section {
  height: 100%;
  width: 100%;
}

.modal-body {
  height: 400px;
}

section {
    display: table;
    width: 100%;
    height: 100%;
}
 .intro {
        display: table-cell;
        vertical-align: middle;
 
      }
