#slideout {
    position:fixed;
    width: 400px;
    height: 800px;
    top: 30px;
    right: -300px;
    /*Animation*/
    transition-property: all;
    transition-duration: 5s;
    transition-timing-function: cubic-bazier(0,1,0.5,1);
}

/* Display Pull out*/

.Slideout {
    right: 0px !important;
}


/*Tab design*/

.slideOutTab {
    ma
}