* {
    font-family: "aileron";
    font-size: xx-large;
    box-sizing: brder-box;


}

body {
    background-color: rgba(185, 211, 226, 0.57) ;
    text-align: left;
    color: rgba(0, 0, 0, 100);
    
}
/* Flexbox Template
body{
    background-color: black;
    color: white;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}

.Title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}

.Intro{
    font-size: large;
}

.Box{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0;
}

.subBox{
    padding: 0.2em;
    width: 24em;
    height: 24em;
    margin: 2vw;
    border-radius: 3em;

    font-size: large;
    color: white;
    text-decoration: none;

    transition: all .5s ease-in-out;
}

.subBox:hover{
    transform: scale(1.05);
}

.subBoxTitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}

.subBox:nth-child(1){
    background-color: rgb(120, 0, 0);
}

.subBox:nth-child(2){
    background-color: rgb(80, 40, 0);
}
*/