html{
    background-color:rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
    font-family: "aileron";
}

/* Navigation Bar Start*/
.topBar{
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background-color: rgb(226, 207, 194);

    z-index: 1;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: center;

    font-family: aileron, 'Times New Roman', serif;
}

/*Icon Properties*/

.icon{
    width: 2rem;
    height: 2rem;
}

.topBar a {
    align-self: center;
}
/*
Navigation Bar End

Infographic Start
*/

.infographic{
    position: absolute;
    width: 55rem;
    height: auto;
    top: 3rem;
    left: 0;
    image-rendering: smooth, auto;
}


/*Debugging*/
.topBar a:hover {
	background: #ddd;
	color: black;
}

.topBar:first-child {
    padding-left: 1rem;
}
.topBar:last-child {
    padding-right: 1rem;
}
/*
.topBar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


*/

/*Color and Background and Text*/
 .intro {
     text-align: left;
     font-size: 11px;
     color: rgb(165, 86, 86);
 }
/*Contents and Body*/

/*Theme and Organising*/

/*Hover and Expand*/

/*Contents bar & on the right*/

/*Footer: credits and references*/

